@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.eot');
    src: url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.eot#iefix') format('embedded-opentype'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.woff2') format('woff2'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.woff') format('woff'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.ttf')  format('truetype'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.svg#Samsung Sharp Sans') format('svg');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Samsung Sharp Sans', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000000000000px){
  
    
    
    nav{
    padding: 0 40px 0 50px;
    padding-bottom: 130px;
  }
}
@media (max-width: 1000px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

#logo{
  width: 192px;
  height: 108px;
  border: 2px solid transparent;
  margin-top: 18px;
}

/* ALIGN CONTENT */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.topheading{
  font-size: 42pt;
  margin-top: 132px;
  margin-left: 42px;
}

.intro{
  font-size: 26pt;
  margin-left: 69px;
  margin-top: 41px;
  
}

.buttons{
  margin-left: 63px;
  margin-top: 32px;
}

.btn-posnawr {
  color: #00abec;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 32px;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
  font: normal 18px/60px 'Samsung Sharp Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #00abec;
}
.btn-posnawr span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #00abec;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-posnawr:hover {
  color: #eee;
}
.btn-posnawr:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-posnawr:active {
  background-color: #00c4ad;
}

.sbtn-posnawr {
  color: #00abec;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
  font: normal 18px/60px 'proxima-nova', sans-serif;
  text-align: center;
  text-decoration: none;
  border: 2px solid #00abec;
}
.sbtn-posnawr span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #00abec;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.sbtn-posnawr:hover {
  color: #eee;
}
.sbtn-posnawr:hover span {
  width: 225%;
  height: 562.5px;
}
.sbtn-posnawr:active {
  background-color: #00c4ad;
}

.animated {
            background-image: url('https://raw.githubusercontent.com/asterontech/asterontech.github.io/main/images/BS17img/Asteron-Business-laptop-8bit.png');
            background-repeat: no-repeat;
            background-position: right top;
            padding-left: 100px;
            margin-right: 220px;
            padding-bottom:500px;
            background-size: 600px;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         
         @-webkit-keyframes fadeInUpBig {
            0% {
               opacity: 0;
               -webkit-transform: translateY(2000px);
            }
            100% {
               opacity: 1;
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes fadeInUpBig {
            0% {
               opacity: 0;
               transform: translateY(3000px);
            }
            100% {
               opacity: 1;
               transform: translateY(-310px);
            }
         }
         
         .fadeInUpBig {
            -webkit-animation-name: fadeInUpBig;
            animation-name: fadeInUpBig;
         }


#st13animated {
  background-image: url('https://raw.githubusercontent.com/asterontech/asterontech.github.io/main/images/ST13img/Asteron-School-laptop-right-view-8bit.png');
  background-repeat: no-repeat;
  background-position: right top;
  padding-left: 10px;
  margin-right: 70px;
  padding-bottom: 500px;
  background-size: 600px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(3000px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(-680px);
  }
}

.fadeup {
  -webkit-animation-name: fadeup;
  animation-name: fadeup;
}

#cursor{
          font-size: 40px;
          transition: 0.3s ease;
      }
      
  .txt-type>.txt {
    border-right: 0.08rem solid #fff;
    padding-right: 2px;
    font-size: 40px;
  }
