body {
    font-size: 20pt;
    background-color: transparent;
    font-family: 'Samsung Sharp Sans';
}

.scrollmenu {
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14pt;
  /*border-top-color: magenta;
  border-left-color: magenta;
  border-bottom-color: yellow;
  border-right-color: yellow;*/
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: black;
  color: white;
  border-radius: 45px;
}


/* ALIGN CONTENT */
.container {
  padding-top: 105px;
  display: flex;
  /* Remove horizontal 'justify-content' center if you want the base text not to move */
  font-family: 'JetBrains Mono', monospace;
  justify-content: center;
  align-items: center;
  
}

.blink {
  animation: blink 1s steps(1, end) infinite;
  font-size: 70px;
  font-width: bold;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
