@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.eot');
    src: url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.eot#iefix') format('embedded-opentype'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.woff2') format('woff2'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.woff') format('woff'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.ttf')  format('truetype'),
         url('https://asterontech.github.io/fonts/SamsungSharpSans-Bold.svg#Samsung Sharp Sans') format('svg');
}